<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introdução ao NOde.js e Express.js</title>
</head>
<body>
    <h1>Bem-vindo a homepage! </h1>
    <hr>
    <u1>
        <li><a href="/produtos">Produtos</a></li>
        <li><a href="/clientes">Produtos</a></li>
        </u1>
</body>
</html>